/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-font: 'Spinnaker', sans-serif;
    /* nav */
    --secondary-color: #17a2b8;
    /* Blue */
}


/* General */

body {
    font-size: 0.8em;
}

main {
    min-height: 500px;
}


/*
*
* Notification
*
*/

.loading {
    background: rgba(23, 162, 184, 0.7);
    padding: 15px;
    position: fixed;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: -40px 0 0 -50px;
    z-index: 2000;
    display: none;
    color: #fff;
}


/*
*
* Navigation
*
*/

nav {
    font-family: var(--secondary-font);
    font-weight: bold;
}

nav .list-group-item {
    border: none;
}

a.nav-link:hover {
    color: #17a2b8 !important;
}

img#mylogo {
    height: 60px !important;
}


/*
*
* Jumbotron
*
*/

.jumbotron {
    background-image: url(/storage/assets/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    text-align: center;
}

.jumbotron-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    border-bottom: 3px solid #fff;
    color: #fff !important;
    text-shadow: 3px 3px 10px #000;
}

.jumbotron-content div div {
    margin: 0 auto;
}

section#vectorimages div.row>div.col-sm:first-child {
    padding: 30px;
}


/*
*
* Browse Categories
*
*/

section#BrowseCategories a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}


/*
*
* Vector images
*
*/

section#vectorimages {
    background-color: #18b5c6;
}


/*
*
* footer
*
*/

footer {
    background-color: #4267b2;
}

footer li {
    list-style: none;
}

footer a {
    color: #e0e0e0;
}

footer a:hover {
    text-decoration: none;
    color: #e0e0e0;
}

div.footer {
    color: #e0e0e0;
}

div.footer div {
    text-align: center;
}


/*
*
* dashboard
*
*/

.profilepicture,
.fa-trash-alt:hover,
.fa-edit:hover,
.fa-pencil-alt:hover,
.sfa-trash:hover {
    cursor: pointer;
}


/*
*
* Userdashboard
*
*/

.small span {
    font-size: 12px!important;
}


/*
*
* profile.blade.php
*
*/

.select2-container,
.select2-search__field {
    width: 100% !important;
}

div#accordion .card-header:hover {
    cursor: pointer;
}

.fa-user-circle {
    cursor: pointer;
}

.profilepicture {
    width: 128px !important;
    height: 128px !important;
}


/*
*
* application.blade.php
*
*
*/

article {
    overflow: hidden
}

.job-pecification {
    border-left: 1px solid #ccc;
}


/*
*
* shortlist.blade.php
*
*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.nav-link.active:hover {
    color: #fff!important;
}

.fa-thumbs-up,
.fa-thumbs-up:hover {
    color: green;
    cursor: pointer;
}

.fa-thumbs-down,
.fa-thumbs-down:hover {
    color: red;
    cursor: pointer;
}

.collapse-accordion .card a[data-toggle=collapse] {
    display: block;
    padding: .75rem 1.25rem;
}

.collapse-accordion .card-header {
    padding: 0;
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 300px) and (max-width: 575px) {
    #updateJobButton,
    #updateJobButton+span,
    #updateJobButton+span button {
        display: block!important;
        width: 100%!important;
        margin-bottom: 5px!important;
    }
}


/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 768px) {
    body {
        font-size: 0.7em;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    section#vectorimages div.row>div.col-sm:first-child {
        padding: 4em 4em 0 4em !important;
    }
    section#vectorimages {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 5em;
        padding-right: 5em;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    body p {
        font-size: 1.2em;
    }
}

.product_image {
    width: 90%;
}

@media only screen (min-width:600px) {
    .product_image {
        width: 90%;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-dashboard {
    float: left;
    margin-left: 25%;
    width: 250px;
    height: 40px;
}

@media only screen and (max-width: 720px){
  .search-dashboard {
    width: 100px;
    height: 40px;
  }
}

.search_button {
    float: right;
}

.form-dashboard {
    width: 400px;
    ;
}

.product-info-li {
  list-style: none;
  width: 50%;
  float: right;
}

.product-image-li {
  list-style: none;
  float: left;
}

.product-image {
  width: 250px;
  height: 200px;
}

@media only screen and (max-width:775px)  {
  .product-image {
    width: 150px;
    height: 100px;
  }
}

.product-listing-container {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width:775px) {
  .product-listing-container {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.product-listing-image-box {
  height: 100%;
  width: 25%;
  float: left;

}

.product-listing-info-box {
  float: right;
  height: 100%;
  width: 70%
}

.product-listing-image {
  height: 100%;
  width: 100%;

}

li {
  list-style: none;
}

.product-listing-details-ul {
  margin-top: 12px;
  margin-left: 5px;
}

.product-listing-price-span {
color: #0018A8;
font-size: 13px;
font-weight: bold;
}

.product-listing-title-p {

}

.product-listing-title-a {
color: black;
}

.product-listing-title-a:hover {
color: black;

}


.product-listing-price-li {
  width: 30%;
  float: right;
  margin
}

.product-listing-title-li {
  width: 60%;
  float: left;

}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.search{
	position: absolute;
	text-align: center;
	width: 100%;
	left: 50%;
	top: 40px;
	transform: translate(-50%, -50%);
  z-index: 99999;
}

.searchbox{
	transition: border .2s linear;
	font-size: 12px;
	width: 80%;
	background: #f5f8fa;
	color: #000;
	padding: 8px 32px 8px 12px;
	/* height: 22px; */
	border: 1px solid #e6ecf0;
	border-radius: 50px;
	outline: none;
}

.searchbox:focus{
	transition: border .2s linear;
	border: 2px solid #4267b2;
}

.searchbtn{
	position: absolute;
	font-size: 20px;
	color: #66757f;
	background-color: transparent;
	border:none;
	right: 11%;
  top: 1px;
	outline: none;
}

.searchbtn:focus{
border: 0;
}

/* ============ Serch End ============== */

.card-body {
  padding-top: 70px;
}

.filters-containers {
height: 200px;
}
.filters-container {
  margin-top: 40px;
}
.filters-show {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.filters {
  margin-left: 25px;

}
.filters-img {
  height: 70px;
  border-radius: 50%;
}
.filters-name {
  margin-bottom: 5px;
  text-align: center;
}
.filters-slider-controls {
  margin-top: -120px;
}
/* ============ Filters Start ============== */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
}

.login-box {
  margin-top:120px;
}

.register-box {
  margin-top: 50px;
}

.profile-gap {
  margin-top: 90px;
}

.profile-name-gap {
  margin-top: 20px;
}

.modal-content {
  margin-top: 100px;
}

.description-box {
  margin-left: 20px;
}

@media only screen and (max-width:800px) {
  .description-box {
  margin-left: 35px;
  }
}

.description-container {
  margin-top: 50px;
}

.jobs-gap {
  margin-top: 100px;
}

.text-info-titlu {
  color: black;

}

/* Mobile Categories Start */
@media only screen and (min-width:700px) {
  .container-mobile-category{
   display: none;
  }
}
@media only screen and (max-width:700px) {
  #BrowseCategories{
   display: none;
  }
}


.container-mobile-category {
  position: absolute;
  top: -250px; // Hide the horizontal scrollbar.
  left: 0;
  width: 100vh;
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em auto;
  padding: 2em;
  width: 100px;
  height: 100px;

  transform: rotate(90deg);


  text-align: center;

  p {
    line-height: 1.5;
  }
}

@media only screen and (max-width:700px){
.mobile-gap{
  margin-top: 200px;
}
}
/* Mobile Categories Stop */

.icon-category {
  width: 140px;
  height:  140px;
  border-radius: 100%;
}

.icon-category-mobile {
  width: 100px;
  height:  100px;
  border-radius: 100%;
}

.content-wrapper {
  margin-right: 40px;
}
